
section{

width: 500px;

}

#div2{
    margin-top: -920px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: 600px;
font-style: italic;
}

.l1{
font-style: italic;
}

.miclase{
background-color:yellow;
}

.div_img_redes{

    margin-top:-800px ;
    margin-right:auto;
    margin-bottom: auto;
    margin-left:600px ;

}